<a href="https://colab.research.google.com/github/adenikeadewumi/EEE_254/blob/main/Ass11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRUCTURED TYPES

Mutable data types: This refers to data types whose elements can be changed after it has been created


We have three typres of mutable data types in python. List, Dictionary; and sets

Lists

In [11]:
# I will use the list below to show the operations possible with a list
mylist= [1,2,3,4,5,6,7,8, 9,10]
lenght_of_list= len(mylist)
sum_of_list_elements= sum(mylist) # This only works when the elements of the list are numeric
# we can use the length and sum of the list to get the mean of the list
mean_of_list= sum_of_list_elements/lenght_of_list
print(f"The length of {mylist} is {lenght_of_list}")
print(f"The sum of elements in {mylist} is {sum_of_list_elements}")
print(f"Mean is {mean_of_list}")


# List methods
# We have the append(), extend(), pop(), remove() ....
# Usage of some of the methods is shown below
list1= [2,4,6,8,10]
list2= [1,3,5,7,9]

list1.append(list2) # This treats the list2 as a single element
print() #For readability
print(f"List1 when list2 was appended without iterating through is : {list1}")
# To add each element of the list2 to list1 we have to iterate through iist2 using for loop
# We have to redefine the list variables because the append() method has mutated the list
list1= [2,4,6,8,10]
for element in list2:
    list1.append(element)
print()
print(f"List1 when list2 was appended by iterating through is : {list1}")

# Again we have to redefine the list variables because the append() method has mutated the list
list1= [2,4,6,8,10]
#Extend(): This adds every element of list2 to list1  without the need of iteration
list1.extend(list2)
print()
print(f"List1 when list2 was added to it by using the extend() function : {list1}")


#Note: we have other methods that can be used on a list

The length of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is 10
The sum of elements in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is 55
Mean is 5.5

List1 when list2 was appended without iterating through is : [2, 4, 6, 8, 10, [1, 3, 5, 7, 9]]

List1 when list2 was appended by iterating through is : [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

List1 when list2 was added to it by using the extend() function : [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

Dictionary

In [12]:
# I will use the dictionary below to show the operations possible with a dictionary
mydict = {"name": "Johnson", "age": 35, "location": "Nigeria"}

# Dictionary methods and operations
keys = mydict.keys()
values = mydict.values()
items = mydict.items()
length = len(mydict)

print(f"Keys in the dictionary: {keys}")
print(f"Values in the dictionary: {values}")
print(f"Key-value pairs: {items}")
print(f"Number of key-value pairs: {length}")

# Adding a new key-value pair
mydict["school"] = "OAU"
print()
print("After adding a new key-value pair:", mydict)

# Updating a value
mydict["age"] = 19
print("After updating age:", mydict)

# Removing a key-value pair using pop()
removed = mydict.pop("location")
print(f"Removed 'location' with value '{removed}': {mydict}")

# Using update() to add multiple key-value pairs
mydict.update({"department": "EEE", "level": 200})
print("After using update():", mydict)

Keys in the dictionary: dict_keys(['name', 'age', 'location'])
Values in the dictionary: dict_values(['Johnson', 35, 'Nigeria'])
Key-value pairs: dict_items([('name', 'Johnson'), ('age', 35), ('location', 'Nigeria')])
Number of key-value pairs: 3

After adding a new key-value pair: {'name': 'Johnson', 'age': 35, 'location': 'Nigeria', 'school': 'OAU'}
After updating age: {'name': 'Johnson', 'age': 19, 'location': 'Nigeria', 'school': 'OAU'}
Removed 'location' with value 'Nigeria': {'name': 'Johnson', 'age': 19, 'school': 'OAU'}
After using update(): {'name': 'Johnson', 'age': 19, 'school': 'OAU', 'department': 'EEE', 'level': 200}

Sets

In [13]:
# I will use the set below to show the operations possible with a set
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Basic set operations
print(f"Original set: {set1}")
print(f"Another set: {set2}")

# Add an element
set1.add(6)
print("After adding 6:", set1)

# Remove an element
set1.remove(1)  # If the element doesn't exist, it raises an error
print("After removing 1:", myset)

# Discard an element (won't raise an error if element is absent)
set1.discard(100)
print("After discarding 100 (which doesn't exist):", set1)

# Union of sets
print("Union:", set2.union(set2))

# Intersection of sets
print("Intersection:", set1.intersection(set2))

# Difference between sets
print("Difference i.e elements in set1 that are not present in set2:", set1.difference(set2))

Original set: {1, 2, 3, 4, 5}
Another set: {4, 5, 6, 7, 8}
After adding 6: {1, 2, 3, 4, 5, 6}
After removing 1: {2, 3, 4, 5, 6}
After discarding 100 (which doesn't exist): {2, 3, 4, 5, 6}
Union: {4, 5, 6, 7, 8}
Intersection: {4, 5, 6}
Difference i.e elements in set1 that are not present in set2: {2, 3}

Immutability

This refers to data types whose elements can't be changed once they have been defined. We have strings, tuples and range

Tuples

In [14]:
# I will use the tuple below to show some operations possible with a tuple
mytuple = (1, 2, 3, 4, 5)

# Length of the tuple
length = len(mytuple)
print(f"Length of {mytuple} is {length}")

# Accessing elements
print(f"The first element is {mytuple[0]}")
print(f"The last element is {mytuple[-1]}")

# Slicing
print(f"Elements from index 1 to 3: {mytuple[1:4]}")

# Count and index methods
print(f"Number of times 3 appears: {mytuple.count(3)}")
print(f"Index of element 4: {mytuple.index(4)}")

# Tuples are immutable, the following will raise an error
# mytuple[0] = 10  #  This raises a TypeError: 'tuple' object does not support item assignment

Length of (1, 2, 3, 4, 5) is 5
The first element is 1
The last element is 5
Elements from index 1 to 3: (2, 3, 4)
Number of times 3 appears: 1
Index of element 4: 3

Strings

In [15]:
# I will use the string below to show string operations
mystring = "Adenike"

# Length of the string
print(f"Length of '{mystring}' is {len(mystring)}")

# Accessing characters. This is done by indexing or slicing
print() # for readability
print(f"First letter: {mystring[0]}")
print(f"Last letter: {mystring[-1]}")

# Slicing
print()
print(f"Elements from index 1 to 3: {mystring[1:4]}")
print(f"First three letters: {mystring[:3]}")

# String methods
print()
print("Uppercase:", mystring.upper())
print("Lowercase: ", mystring.lower())
# The upper() and lower() methods do not mutate a string. Therefore the string stored in mystring is still the same
print()
print("String after lower() and upper() is: ", mystring)
print("Replaced 'e' with 'a':", mystring.replace('e', 'a'))

# Strings are immutable, so this will also raise an error:
# mystring[0] = 'B'  #  This also raises a TypeError: 'str' object does not support item assignment

Length of 'Adenike' is 7

First letter: A
Last letter: e

Elements from index 1 to 3: den
First three letters: Ade

Uppercase: ADENIKE
Lowercase:  adenike

String after lower() and upper() is:  Adenike
Replaced 'e' with 'a': Adanika