<a href="https://colab.research.google.com/github/adenikeadewumi/EEE_254/blob/main/Ass20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

O(1)- This is the constant time complexity. It's doesn't depend on the size of the code. It takes the same time to run regardless of how big the input is

In [7]:
# Code illustration
import random

n= int(input("Enter your input: "))
for i in range(10):
  random_number= random.randint(0,n)
  squared_num= random_number**2
  print(f'The square of {random_number} is {squared_num}')

Enter your input: 9
The square of 0 is 0
The square of 7 is 49
The square of 3 is 9
The square of 4 is 16
The square of 8 is 64
The square of 5 is 25
The square of 9 is 81
The square of 2 is 4
The square of 4 is 16
The square of 0 is 0

O(logn)- An example of this is the bisection method

In [11]:
# Binary search
def binary_search(array, target):
  x= len(array)
  low= 0
  high= max(0, x)
  guess= (low+ high)//2

  while guess != array.index(target):
    if guess < array.index(target):
      low= guess
    else:
      high= guess
    #Update the guess
    guess= (low+ high)//2
  return guess


target= 3
myarray= [2, 5, 6,7, 8,10,3,6]
target_location= binary_search(myarray, target)
print(f'The target is at index {target_location}')
print(f"The target is the {target_location +1} th/nd/rd/st element")

The target is at index 6
The target is the 7 th/nd/rd/st element

O(n) complexity

In [14]:
n= int(input("Enter size of input: "))
# Initialize the sum to zero
sum= 0
for i in range(1, n+1):
  sum+= i
  print(f"The sum so far is {sum}")

Enter size of input: 10
The sum so far is 1
The sum so far is 3
The sum so far is 6
The sum so far is 10
The sum so far is 15
The sum so far is 21
The sum so far is 28
The sum so far is 36
The sum so far is 45
The sum so far is 55

O(nlogn)

In [15]:
n= int(input("Enter input size: "))

# This code uses bisection method to find the square root each number in a range of values n

# define function to find the square root
def square_root(num):
  epsilon= 0.001
  low= 0
  high= num
  guess= (low+high)/ 2
  while abs(guess**2 -num) >= epsilon:
    if guess**2 < num:
      low= guess
    else:
      high= guess
    guess= (low+ high)/2
  return guess

# Now write a for loop to compute the square root of all the numbers within the range of the input n
for i in range(1, n+1):
  print(f"The square root of {i} is {square_root(i)}")

Enter input size: 10
The square root of 1 is 0.99951171875
The square root of 2 is 1.4140625
The square root of 3 is 1.732177734375
The square root of 4 is 2.0
The square root of 5 is 2.23602294921875
The square root of 6 is 2.4495849609375
The square root of 7 is 2.64593505859375
The square root of 8 is 2.828369140625
The square root of 9 is 3.000091552734375
The square root of 10 is 3.1622314453125

O(n^2): An example of this is the nested for loop

In [ ]:
# The code below computes the multiplication table of a range of values x by x
n= int(input("Enter the range of your multiplication table: "))

for i in range(1, n+1):
  print(f"Multiplication table for {i}")
  print()
  for j in range (1, n+1):
    print(f"{i} x {j} = {i*j}")
  print()

O(n^k)

In [17]:
# The code below computes the multiplication table of a range of values x by x
n= int(input("Enter the range of your multiplication table: "))
k= int(input("Enter the value of k: "))
for i in range(1, n+1):
  print(f"Multiplication table for {i}")
  print()
  for j in range (1, k+1):
    print(f"{i} x {j} = {i*j}")
  print()

Enter the range of your multiplication table: 10
Enter the value of k: 12
Multiplication table for 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

Multiplication table for 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

Multiplication table for 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

Multiplication table for 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

Multiplication table for 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

Multiplication table for 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

Multiplication table for 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

Multiplication table for 8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

Multiplication table for 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

Multiplication table for 10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120