<a href="https://colab.research.google.com/github/adenikeadewumi/EEE_254/blob/main/Ass8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The pascal_triangle1(n,k) failed because the function was calling itself too many times and exceeded the recursion maximum depth.

In [8]:
## Pascal's triangle
def pascal_triangle1(n, k):
  """Assumes n and k are positive integers
  k- num of columns
  n- num of rows
  returns the values in a row of pascal triangle"""
  if k==1 or k==n:
    return 1
  else:
    return pascal_triangle1(n-1,k-1) +pascal_triangle1(n-1, k)


*   This utilizes the memoization method
*   Memoization is a programming optimization technique where the results of expensive function calls are stored and reused to avoid redundant calculations when the same inputs are encountered again.

In [11]:

#define function to print triangle
def pascal_triangle(n, k, memo={}):
    # Base case
    if k == 0 or k == n:
        return 1
    if (n, k) in memo:
        return memo[(n, k)]

    # Recursive case with memoization
    memo[(n, k)] = pascal_triangle(n - 1, k - 1, memo) + pascal_triangle(n - 1, k, memo)
    return memo[(n, k)]

Print the triangle

In [14]:

def print_triangle(num_rows):
  """Assumes num_rows is a positive integer"""
  for i in range(num_rows):
    #store ans for each row in a list row
    row = [pascal_triangle(i, j) for j in range(i+1)] #i starts from zero so the smallest column we can have is 1
    # print the values in a triangular format
    print(" "*(num_rows-i), *row) # This adds a trailing whitespace before printing the values in the row. *row is used to unpack the list values

In [17]:
print_triangle(10)

           1
          1 1
         1 2 1
        1 3 3 1
       1 4 6 4 1
      1 5 10 10 5 1
     1 6 15 20 15 6 1
    1 7 21 35 35 21 7 1
   1 8 28 56 70 56 28 8 1
  1 9 36 84 126 126 84 36 9 1